/* common styles here */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.btn {
  color: #fff;
  padding: 15px 40px;
  border: 0;
  color: black;
}
/* header styles here */
header {
  background: rgba(229, 84, 115, 0.1);
}
header .row {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 50px 150px 0px 150px;
  align-items: center;
}
header .col-right img {
  width: 400px;
}
header .col-left h1 {
  color: #272727;
  font-size: 48px;
  margin-bottom: 20px;
}
header .col-left p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
header .col-left .shop-n {
  border-radius: 5px;
  background: #e55473;
}
/* featured main-section styles here */
.featured-f-s {
  padding: 100px 150px;
}
.featured-f-s h2 {
  color: #272727;
  font-size: 40px;
  margin-bottom: 20px;
}
.featured-f-s p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.featured-f-s .main-content {
  text-align: center;
}
.main-img img {
  width: 200px;
  height: 200px;
  padding: 130px 50px 0px 50px;
  margin-bottom: 30px;
  margin-left: 0px;
}
.main-img .row-main {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  text-align: center;
}
.main-img .row-main .col-f-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.main-img .row-main .col-f-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.main-img .row-main .col-f-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.main-img .row-main h5 {
  color: #272727;
  text-align: center;
  font-size: 16px;
  text-decoration-line: underline;
}
/* main icon styles here */
.main-icon {
  padding: 50px 150px;
}
.main-icon .row-icon {
  border-radius: 5px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  padding: 50px 70px;
  text-align: center;
}
.row-icon img {
  margin-bottom: 20px;
}
.row-icon span {
  display: block;
  text-align: center;
  color: rgba(39, 39, 39, 0.8);
}
/* sale up style here */
.sale-up {
  border-radius: 5px;
  background: rgba(229, 84, 115, 0.05);
}
.sale-up .row {
  display: flex;
  justify-content: center;
  padding: 50px 150px;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.sale-up .col h3 {
  color: #272727;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
.sale-up .col h3 span {
  color: #e55473;
}
.sale-up .col p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.sale-up img {
  width: 200px;
}
.sale-up .btn-sign-up {
  border-radius: 8px;
  background: #e55473;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
